*{
    padding:0;
    margin:0;
    color:white;
}
body{
    display:flex;
    background:#001;
    height:100vh;
}
.profil{
    display: flex;
    align-items: center;
    gap: 40px;
    width:100%;
    height:55px;
    
    
}
.imag{
    height:50px;
    width:50px;
    border-radius: 50%;
    overflow: hidden;
    border:4px white solid;
    flex-shrink: 0;
}
.imag img{
    height:100%;
    width:100%;
    
}

.menu{
    background:#123;
    width:60px;
    height:100%;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    overflow:hidden;
    transition: 0.6s;
    justify-content: center;
   
}
.menu:hover{
    width:260px;
}
.content{
    
    padding:20px 0;
    margin:20px 0
}
 .box {
    margin:10px 0;
    padding:10px 20px;
    background:rgba(0, 0, 17, 0.342);
    border-radius:10px;
   transition: 0.5s;
}
.box a{
    display: flex;
    gap:40px;
    text-decoration:none;
    align-items: center;
    
    
}
.box a i{
    font-size: 25px;
position:relative;
right:7px
}
.box a p{
    font-weight: 700;
}
.box:hover{
    background:rgba(255, 255, 255, 0.349);
}
.data{
    
    width:100%;
}
.data-title{
    display:flex;
    justify-content: space-between;
    background:rgb(27, 61, 95);
    padding:10px;
    margin:10px;
    border-radius:10px;
}
.all-data{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}
.data-content{
    display: flex;
    gap:25px;
    justify-content: space-around;
    background:rgb(27, 61, 95);
    padding:40px;
    margin:10px;
    flex-grow: 1;
    border-radius:10px;
    transition:0.6s;
}
.data-content:hover{
    background:rgba(255, 255, 255, 0.322)
}
.icon{
    font-size:20px
}
table{
    width: 100%;
    border-spacing: 4px;
}
 .table {
    width:100%;
    text-align: center;
    border-spacing: 20px;
}
th,td{
    background: #123;
    height:25px
}
